# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nicu\Desktop\Competitive Programming\C++\InfoArena\Arhiva probleme\Dragon Ball Z\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
